.git
.gitignore
.next
node_modules
.env
.env.*
npm-debug.log
*.log
coverage
tsconfig.tsbuildinfo
**/*.test.ts
**/*.test.tsx
vitest.config.ts
vitest.setup.ts
Dockerfile
README.md
package-lock.json
pnpm-lock.yaml
